@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfc;
  --foreground: #1f2937;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 58s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
